extends ./../layouts/master

block content 
 .row
  .large-12.columns
   h2 Login
   form(method='post', action='/login')
    .row
     .large-12.columns
      label Email
      input(type='email', name='email')
    .row
     .large-12.columns
      label Passwrod
      input(type='password', name='password')
    .row
     .large-12.columns
      input.button(type='submit', value='Submit')
      input(type='hidden', name='_csrf', value='{_csrf}')
